
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Assembly Sentiment Analysis - 국회 감정 분석 시스템" />
    <link rel="apple-touch-icon" href="/static/logo192.png" />
    <link rel="manifest" href="/static/manifest.json" />
    <title>Assembly Sentiment Analysis</title>
    <link href="/static/css/main.b889527b.css" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="/static/js/main.a2ec55bf.js"></script>
</body>
</html>
