
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Assembly sentiment analysis web app" />
    <title>Assembly Sentiment Analysis</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" />
    <link rel="apple-touch-icon" href="{% static 'logo192.png' %}" />
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <link href="{% static 'css/main.d0d6a7e4.css' %}" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="{% static 'js/main.bdc55c9a.js' %}"></script>
</body>
</html>
